html, button, input, select {
    font-family: sans-serif;
}

textarea {
    font-family: monospace;
    font-size: 1.2em;
}

body  {
    font-size: 1em;
    background-color: #fff;
    color: #000;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, th {
    color: #841;
}

h1 {
    border-bottom: 2px solid #ccc;
}

a {
    color: #050;
}

a:hover {
    color: #fff;
    background: #050;
}

a[href^="/"] {
    text-decoration: none;
    font-weight: bold;
}

a[href^="http://localhost"] {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

a[href^="/media/"] {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-weight: normal;
}

code {
    font-family: monospace;
    font-size: 1.2em;
    color: #800;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table.non-datatable {
    width: 100%;
}

th, td {
    border: 1px solid #000;
}

#mainmenu {
    position: fixed;
    left: 0;
    width: 6em;
    text-align: right;
    padding-left: 0.5em;
    font-size: 1.1em;
}

#mainmenu p {
   margin: 0;
}

#content {
    margin: 1em 13em 0 9em;
}

#sidebar {
    position: fixed;
    right: 3px;
    width: 12em;
    font-size: .9em;
    padding-right: .5em;
}

#sidebar p, #sidebar h4 {
    margin: 0;
}

#sidebar h3 {
    margin: 5px 0;
}

#search_string {
    width: 11em;
    margin: 1em 0;
}

.strong {
    font-weight: bold;
}

.errorlist, .highlight {
    background-color: #800;
    color: white;
    padding: 0 2px;
}

div.toc {
    display: none;
}

textarea {
    width: 100%;
}
