:root {
    --color: #000;
    --background-color: #fff;
    --link-color: #050;
    --code-color: #800;
    --header-color: #841;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #e5e9f0;
        --background-color: #2e3440;
        --link-color: #a3be8c;
        --code-color: #bf616a;
        --header-color: #ebcb8b;
    }
}

body  {
    font-size: 1.3em;
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

html, button, input, select {
    font-family: sans-serif;
    font-size: 1em;
}

textarea {
    font-family: monospace;
    font-size: 1.2em;
}

h1, h2, h3, h4, th {
    font-family: "Dune Rise", sans-serif;
    color: var(--header-color);
}

h1 {
    border-bottom: 2px solid #ccc;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--background-color);
    background: var(--link-color);
}

a[href^="/"] {
    text-decoration: none;
    font-weight: bold;
}

a[href^="http://localhost"] {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

a[href^="/media/"] {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-weight: normal;
}

code {
    font-family: monospace;
    font-size: 1.3em;
    color: var(--code-color);
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table.dataTable {
    color: var(--color);

    thead {
        background-color: var(--background-color);
    }
}

.dataTables_wrapper .dataTables_filter {
    color: var(--color);
    background-color: var(--background-color);

    input {
        color: var(--color);
        background-color: var(--background-color);
    }
}

table.non-datatable {
    width: 100%;
}

th, td {
    border: 1px solid var(--color);
    background-color: var(--background-color);
}

#mainmenu {
    position: fixed;
    left: 0;
    width: 6em;
    text-align: right;
    padding-left: 0.5em;
    font-size: 1.1em;
}

#mainmenu p {
   margin: 0;
}

#content {
    margin: 1em 13em 0 9em;
}

#sidebar {
    position: fixed;
    right: 3px;
    width: 12em;
    font-size: .9em;
    padding-right: .5em;
}

#sidebar p, #sidebar h4 {
    margin: 0;
}

#sidebar h3 {
    margin: 5px 0;
}

#search_string {
    width: 11em;
    margin: 1em 0;
}

.strong {
    font-weight: bold;
}

.errorlist, .highlight {
    background-color: #800;
    color: white;
    padding: 0 2px;
}

div.toc {
    display: none;
}

textarea {
    width: 100%;
}

img {
    max-width: 100%;
}
